.experiments-section {
    padding: 32px;

    .head{
        h1 {
            text-transform: uppercase;
            color:#E89B25;
        }
        p {
            margin-left: 8px;
            margin-bottom: 8px;
        }
    }

    .project-card {

        .project-title {
            text-transform: uppercase;
            color: white;
            margin: 16px 0px;
        }

        p {
            font-family: 'Crimson Text', serif;
            padding: 16px;
            margin: 24px 8px;
            text-align: justify;
        }
    }

    .row-centered {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card {
        // border: solid 1px red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .image {
            flex: 0.8;
            min-width: 280px;
            max-width: 360px;
            padding: 16px;
            // img {
            //     width: 100%;
            //     border-radius: 32px 8px 32px 8px;
            // }
        }
        .parahs {
            flex: 1;
            min-width: 280px;
            font-family: 'Crimson Text', serif;
            padding: 16px;
            p {
                // border: solid 1px red;
                margin: 24px 8px;
                text-align: justify;
            }
        }
    }
}