.experiments-section {
    padding: 8px 32px;

    .head{
        h1 {
            text-transform: uppercase;
            color:#E89B25;
        }
        p {
            margin-left: 8px;
            margin-bottom: 8px;
            font-family: 'Crimson Text', serif;
            font-size: 18px;
        }
    }

    .project-card {

        .project-title {
            text-transform: uppercase;
            color: white;
            margin: 16px 0px;
        }

        p {
            font-family: 'Crimson Text', serif;
            font-size: 18px;
            padding: 16px;
            // margin: 24px 8px;
            text-align: justify;
        }
    }

    .row-centered {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}