.footer-section {
    background-color: #e89b25;
    height: 100px;
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: center;

    i {
        font-size: 18px;
        
        color: #0B1014;
    }
}