.fractal-inputs {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    padding: 8px;
    margin-left: 8px;

    input[type="range"] {
        vertical-align: middle;
        margin-bottom: 1px;
    }

    input[type="radio"] {
        margin: 4px 6px;
        vertical-align: text-bottom;
    }

    button {
        margin-top: 8px;
        padding: 8px;
        background: none;
        color: white;
        border: solid 1px white;
        cursor: pointer;

        &:hover {
            background: white;
            color: black;
        }
    }
}