.projects-section {
    padding: 8px 32px;

    .head{
        h1 {
            text-transform: uppercase;
            color:#E89B25;
        }
        p {
            margin-left: 8px;
            margin-bottom: 8px;
            font-family: 'Crimson Text', serif;
            font-size: 18px;
        }
    }

    .proj-card {
        // border: solid 1px red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .proj-image {
            flex: 0.8;
            min-width: 280px;
            max-width: 360px;
            padding: 16px;
            img {
                width: 100%;
            }
        }
        .proj-desc {
            flex: 1;
            min-width: 280px;
            font-family: 'Crimson Text', serif;
            font-size: 18px;
            padding: 16px;
            // border: solid 1px red;
            ul {
                // border: solid 1px red;
                margin: 24px 8px;
                text-align: justify;
                list-style-type: '- ';
            }
            p {
                margin: 24px 8px;
                display: flex;
                flex-direction: row;
                gap: 28px;
            }
        }
    }

}